
@import "~@/styles/const.scss";

@mixin button-style ($color) {
  color: $color;
  border: 1px solid $color;
  background: transparentize($color, 0.95);
  &.fill {
    color: #fff;
    background: $color;
    border: 1px solid $color;
    &:hover {
      color: transparentize(#fff, 0.2);
      background: transparentize($color, 0.2);
      box-shadow: 0 0 8px transparentize($color, 0.6);
    }
    &:active {
      color: #fff;
      background: $color;
      box-shadow: 0 0 8px transparentize($color, 0.3);
    }
    &.disabled {
      color: transparentize(#ffffff, 0.2);
      background: transparentize($color, 0.6);
      box-shadow: none;
    }
  }
  &.inline {
    color: $color;
    background: transparent;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid transparent;
      background: transparent;
      box-shadow: 0 0 8px transparent;
    }
    &:active {
      border: 1px solid transparent;
      background: transparent;
      box-shadow: 0 0 8px transparent;
    }
    &.disabled {
      font-weight: normal;
      color: transparentize($color, 0.6);
      border: none;
      background: transparent;
      box-shadow: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &:hover {
    border: 1px solid transparentize($color, 0.2);
    background: transparentize($color, 0.9);
    color: transparentize($color, 0);
    box-shadow: 0 0 8px transparentize($color, 0.8);
  }
  &:active {
    border: 1px solid $color;
    background: transparentize($color, 0.8);
    color: $color;
    box-shadow: 0 0 8px transparentize($color, 0.6);
  }
  &.disabled {
    border: 1px solid transparentize($color, 0.7);
    background: transparentize($color, 0.98);
    color: transparentize($color, 0.6);
    &:hover {
      box-shadow: none;
    }
  }
}

.xin-button {
  display: inline-block;
  font-size: $button-font-size;
  line-height: $button-line-height - 2px;
  height: $button-line-height;
  padding: 0 $button-padding;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  & + & {
    margin-left: $button-space-width;
  }
  &.disabled {
    cursor: not-allowed;
  }
  &.round {
    border-radius: $button-line-height / 2;
  }
  &.inline {
    padding: 0 5px;
    &:hover {
      text-decoration: underline;
    }
    & + & {
      margin-left: $button-space-width - 10px;
    }
  }
  &.default {
    @include button-style ($button-default-color);
  }
  &.info {
    @include button-style ($button-info-color);
  }
  &.success {
    @include button-style ($button-success-color);
  }
  &.error {
    @include button-style ($button-error-color);
  }
  &.warning {
    @include button-style ($button-warning-color);
  }
}
