
@import "~@/styles/const.scss";

.xin-button {
  display: inline-block;
  margin-right: $button-margin-right;
  font-size: $button-font-size;
  line-height: $button-line-height - 2px;
  height: $button-line-height;
  padding: 0 $button-padding;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
  border: 1px solid transparentize($button-border-default-color, 0);
  background: transparentize($button-border-default-color, 0.95);
  // .iconfont {
  // }
  &.round {
    border-radius: $button-line-height / 2;
  }
  &.fill {
    color: #fff;
    background: transparentize($button-border-default-color, 0);
    border: 1px solid transparentize($button-border-default-color, 0);
  }
  &.inline {
    color: transparentize($button-border-default-color, 0);
    background: transparentize($button-border-default-color, 1);
    border: 1px solid transparentize($button-border-default-color, 1);
    &:hover {
      color: transparentize($button-border-default-color, 0.2);
      border: 1px solid transparentize($button-border-default-color, 1);
      background: transparentize($button-border-default-color, 1);
      box-shadow: 0 0 8px transparentize($button-border-default-color, 1);
    }
    &:active {
      color: transparentize($button-border-default-color - #111, 0);
      border: 1px solid transparentize($button-border-default-color, 1);
      background: transparentize($button-border-default-color, 1);
      box-shadow: 0 0 8px transparentize($button-border-default-color, 1);
    }
  }
  &:hover {
    color: #fff;
    border: 1px solid transparentize($button-border-default-color, 0.2);
    background: transparentize($button-border-default-color, 0.2);
    box-shadow: 0 0 8px transparentize($button-border-default-color, 0.6);
  }
  &:active {
    color: #fff;
    border: 1px solid transparentize($button-border-default-color - #111, 0);
    background: transparentize($button-border-default-color - #111, 0);
    box-shadow: 0 0 8px transparentize($button-border-default-color, 0.4);
  }
  &.success {
    color: $button-border-success-color;
    border: 1px solid $button-border-success-color;
    background: transparentize($button-border-success-color, 0.95);
    &.fill {
      color: #fff;
      background: transparentize($button-border-success-color, 0);
      border: 1px solid transparentize($button-border-success-color, 0);
    }
    &.inline {
      color: transparentize($button-border-success-color, 0);
      background: transparentize($button-border-success-color, 1);
      border: 1px solid transparentize($button-border-success-color, 1);
      &:hover {
        color: transparentize($button-border-success-color, 0.2);
        border: 1px solid transparentize($button-border-success-color, 1);
        background: transparentize($button-border-success-color, 1);
        box-shadow: 0 0 8px transparentize($button-border-success-color, 1);
      }
      &:active {
        color: transparentize($button-border-success-color - #111, 0);
        border: 1px solid transparentize($button-border-success-color, 1);
        background: transparentize($button-border-success-color, 1);
        box-shadow: 0 0 8px transparentize($button-border-success-color, 1);
      }
    }
    &:hover {
      color: #fff;
      border: 1px solid transparentize($button-border-success-color - #111, 0.2);
      background: transparentize($button-border-success-color - #111, 0.2);
      box-shadow: 0 0 8px transparentize($button-border-success-color, 0.6);
    }
    &:active {
      color: #fff;
      border: 1px solid transparentize($button-border-success-color, 0);
      background: transparentize($button-border-success-color, 0);
      box-shadow: 0 0 8px transparentize($button-border-success-color, 0.4);
    }
  }
  &.error {
    color: $button-border-error-color;
    border: 1px solid $button-border-error-color;
    background: transparentize($button-border-error-color, 0.95);
    &.fill {
      color: #fff;
      background: transparentize($button-border-error-color, 0);
      border: 1px solid transparentize($button-border-error-color, 0);
    }
    &.inline {
      color: transparentize($button-border-error-color, 0);
      background: transparentize($button-border-error-color, 1);
      border: 1px solid transparentize($button-border-error-color, 1);
      &:hover {
        color: transparentize($button-border-error-color, 0.2);
        border: 1px solid transparentize($button-border-error-color, 1);
        background: transparentize($button-border-error-color, 1);
        box-shadow: 0 0 8px transparentize($button-border-error-color, 1);
      }
      &:active {
        color: transparentize($button-border-error-color - #111, 0);
        border: 1px solid transparentize($button-border-error-color, 1);
        background: transparentize($button-border-error-color, 1);
        box-shadow: 0 0 8px transparentize($button-border-error-color, 1);
      }
    }
    &:hover {
      color: #fff;
      border: 1px solid transparentize($button-border-error-color, 0.2);
      background: transparentize($button-border-error-color, 0.2);
      box-shadow: 0 0 8px transparentize($button-border-error-color, 0.6);
    }
    &:active {
      color: #fff;
      border: 1px solid transparentize($button-border-error-color - #111, 0);
      background: transparentize($button-border-error-color - #111, 0);
      box-shadow: 0 0 8px transparentize($button-border-error-color, 0.4);
    }
  }
  &.warning {
    color: $button-border-warning-color;
    border: 1px solid $button-border-warning-color;
    background: transparentize($button-border-warning-color, 0.95);
    &.fill {
      color: #fff;
      background: transparentize($button-border-warning-color, 0);
      border: 1px solid transparentize($button-border-warning-color, 0);
    }
    &.inline {
      color: transparentize($button-border-warning-color, 0);
      background: transparentize($button-border-warning-color, 1);
      border: 1px solid transparentize($button-border-warning-color, 1);
      &:hover {
        color: transparentize($button-border-warning-color, 0.2);
        border: 1px solid transparentize($button-border-warning-color, 1);
        background: transparentize($button-border-warning-color, 1);
        box-shadow: 0 0 8px transparentize($button-border-warning-color, 1);
      }
      &:active {
        color: transparentize($button-border-warning-color - #111, 0);
        border: 1px solid transparentize($button-border-warning-color, 1);
        background: transparentize($button-border-warning-color, 1);
        box-shadow: 0 0 8px transparentize($button-border-warning-color, 1);
      }
    }
    &:hover {
      color: #fff;
      border: 1px solid transparentize($button-border-warning-color, 0.2);
      background: transparentize($button-border-warning-color, 0.2);
      box-shadow: 0 0 8px transparentize($button-border-warning-color, 0.6);
    }
    &:active {
      color: #fff;
      border: 1px solid transparentize($button-border-warning-color - #111, 0);
      background: transparentize($button-border-warning-color - #111, 0);
      box-shadow: 0 0 8px transparentize($button-border-warning-color, 0.4);
    }
  }
  &.info {
    color: $button-border-info-color;
    border: 1px solid $button-border-info-color;
    background: transparentize($button-border-info-color, 0.95);
    &.fill {
      color: #fff;
      background: transparentize($button-border-info-color, 0);
      border: 1px solid transparentize($button-border-info-color, 0);
    }
    &.inline {
      color: transparentize($button-border-info-color, 0);
      background: transparentize($button-border-info-color, 1);
      border: 1px solid transparentize($button-border-info-color, 1);
      &:hover {
        color: transparentize($button-border-info-color, 0.2);
        border: 1px solid transparentize($button-border-info-color, 1);
        background: transparentize($button-border-info-color, 1);
        box-shadow: 0 0 8px transparentize($button-border-info-color, 1);
      }
      &:active {
        color: transparentize($button-border-info-color - #111, 0);
        border: 1px solid transparentize($button-border-info-color, 1);
        background: transparentize($button-border-info-color, 1);
        box-shadow: 0 0 8px transparentize($button-border-info-color, 1);
      }
    }
    &:hover {
      color: #fff;
      border: 1px solid transparentize($button-border-info-color, 0.2);
      background: transparentize($button-border-info-color, 0.2);
      box-shadow: 0 0 8px transparentize($button-border-info-color, 0.6);
    }
    &:active {
      color: #fff;
      border: 1px solid transparentize($button-border-info-color - #111, 0);
      background: transparentize($button-border-info-color - #111, 0);
      box-shadow: 0 0 8px transparentize($button-border-info-color, 0.4);
    }
  }
}
