
@import "~@/styles/const.scss";

@mixin button-style ($color) {
  color: $color;
  border: 1px solid $color;
  background: transparentize($color, 0.95);
  &.fill {
    color: #fff;
    background: transparentize($color, 0);
    border: 1px solid transparentize($color, 0);
  }
  &.inline {
    color: transparentize($color, 0);
    background: transparentize($color, 1);
    border: 1px solid transparentize($color, 1);
    &:hover {
      color: transparentize($color, 0.2);
      border: 1px solid transparentize($color, 1);
      background: transparentize($color, 1);
      box-shadow: 0 0 8px transparentize($color, 1);
    }
    &:active {
      color: transparentize($color - #111111, 0);
      border: 1px solid transparentize($color, 1);
      background: transparentize($color, 1);
      box-shadow: 0 0 8px transparentize($color, 1);
    }
  }
  &:hover {
    color: #fff;
    border: 1px solid transparentize($color - #111111, 0.2);
    background: transparentize($color - #111111, 0.2);
    box-shadow: 0 0 8px transparentize($color, 0.6);
  }
  &:active {
    color: #fff;
    border: 1px solid transparentize($color, 0);
    background: transparentize($color, 0);
    box-shadow: 0 0 8px transparentize($color, 0.4);
  }
}

.xin-button {
  display: inline-block;
  font-size: $button-font-size;
  line-height: $button-line-height - 2px;
  height: $button-line-height;
  padding: 0 $button-padding;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
  vertical-align: middle;
  color: transparentize($button-default-color - #111111, 0);
  border: 1px solid transparentize($button-default-color, 0);
  background: transparentize($button-default-color, 0.95);
  & + & {
    margin-left: $button-space-width;
  }
  &.disabled {
    cursor: not-allowed;
  }
  &.round {
    border-radius: $button-line-height / 2;
  }
  &.fill {
    color: #fff;
    background: transparentize($button-default-color, 0);
    border: 1px solid transparentize($button-default-color, 0);
  }
  &.inline {
    padding: 0 5px;
    & + & {
      margin-left: $button-space-width - 10px;
    }
    color: transparentize($button-default-color, 0);
    background: transparentize($button-default-color, 1);
    border: 1px solid transparentize($button-default-color, 1);
    &:hover {
      color: transparentize($button-default-color, 0.2);
      border: 1px solid transparentize($button-default-color, 1);
      background: transparentize($button-default-color, 1);
      box-shadow: 0 0 8px transparentize($button-default-color, 1);
    }
    &:active {
      color: transparentize($button-default-color - #111111, 0);
      border: 1px solid transparentize($button-default-color, 1);
      background: transparentize($button-default-color, 1);
      box-shadow: 0 0 8px transparentize($button-default-color, 1);
    }
  }
  &:hover {
    color: #fff;
    border: 1px solid transparentize($button-default-color, 0.2);
    background: transparentize($button-default-color, 0.2);
    box-shadow: 0 0 8px transparentize($button-default-color, 0.6);
  }
  &:active {
    color: #fff;
    border: 1px solid transparentize($button-default-color - #111111, 0);
    background: transparentize($button-default-color - #111111, 0);
    box-shadow: 0 0 8px transparentize($button-default-color, 0.4);
  }
  &.info {
    @include button-style($button-info-color);
  }
  &.success {
    @include button-style($button-success-color);
  }
  &.error {
    @include button-style($button-error-color);
  }
  &.warning {
    @include button-style($button-warning-color);
  }
}
