
@import "~@/styles/const.scss";
.xin-date-picker {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: $input-width;
  .el-input__inner, .el-range-input {
    display: inline-block;
    margin-right: $input-margin-right;
    font-size: $input-font-size;
    width: $input-width;
    line-height: $input-line-height;
    height: $input-line-height;
    vertical-align: middle;
    color: $input-color;
    outline: none;
    border: 1px solid $input-border-color;
    box-sizing: border-box;
    padding: 0 $input-padding-right * 2;
    transition: all 0.3s;
    background: transparentize($input-border-color, 0.9);
    &:hover {
      border: 1px solid $input-border-active-color;
    }
    &::placeholder {
      color: $input-disabled-color + #222222;
    }
    &:focus {
      border: 1px solid $input-border-active-color;
      box-shadow: 0 0 8px transparentize($input-border-active-color, 0.6);
      background: transparentize($input-border-active-color, 0.9);
    }
  }
  .el-input__prefix {
    left: 10px;
  }
  .el-input__suffix {
    right: 10px;
  }
  .el-input__prefix, .el-input__suffix {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 1;
    text-align: center;
    color: $select-default-color;
    transition: all 0.3s;
    .el-input__suffix-inner {
      text-align: center;
      width: 100%;
      height: 100%;
      display: block;
      cursor: pointer;
    }
    .el-input__icon {
      width: 25px;
      line-height: 40px;
      height: 100%;
      text-align: center;
      transition: all .3s;
      &.el-icon-date::before {
        content: "\e69f";
      }
      &.el-icon-circle-close::before {
        content: "\e67a";
        color: $datePicker-default-color;
      }
      &::before {
        font-size: $datePicker-font-size;
        line-height: $datePicker-line-height;
        display: block;
        transition: all $datePicker-animate-time;
        font-family: "iconfont" !important;
        font-size: 14px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
      }
      &::after {
        content: "";
        height: 100%;
        width: 0;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
.el-picker-panel {
  line-height: $datePicker-line-height;
  margin-top: 5px;
  width: $datePicker-width;
  box-shadow: 0 0 8px transparentize($option-default-color, 0.3);
  .el-picker-panel__body-wrapper {
    background: #fff;
    .el-picker-panel__body {
      .el-date-picker__header {
        padding: $datePicker-margin-right;
        border-bottom: 1px solid $datePicker-icon-color;
        text-align: center;
        .el-picker-panel__icon-btn {
          width: $datePicker-line-height;
          height: $datePicker-line-height;
          background: transparent;
          color: $datePicker-color;
          border-radius: 100%;
          border: none;
          outline: none;
          line-height: $datePicker-line-height - 10px;
          margin: 0 2px;
          cursor: pointer;
          &:hover {
            color: $datePicker-default-color;
            background: transparentize($datePicker-default-color, 0.8);
          }
          &::before {
            font-family: "iconfont" !important;
            font-size: $datePicker-font-size;
            font-style: normal;
            border-radius: 100%;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
          }
          &.el-icon-d-arrow-left {
            float: left;
            &::before {
              content: "\e62c";
            }
          }
          &.el-icon-arrow-left {
            float: left;
            &::before {
              content: "\e67c";
            }
          }
          &.el-icon-d-arrow-right {
            float: right;
            &::before {
              content: "\e62d";
            }
          }
          &.el-icon-arrow-right {
            float: right;
            &::before {
              content: "\e67e";
            }
          }
        }
        .el-date-picker__header-label {
          color: $datePicker-color;
          line-height: $datePicker-line-height;
          font-size: $datePicker-font-size;
          flex: 1;
        }
      }
      .el-picker-panel__content {
        padding: $datePicker-margin-right;
        .el-date-table {
          table-layout: fixed;
          width: 100%;
          user-select: none;
          font-size: $datePicker-font-size;
          tr {
            th {
              color: $datePicker-color;
            }
            &.el-date-table__row {
              td {
                text-align: center;
                color: $datePicker-color;
                &.prev-month {
                  pointer-events: none;
                  color: $datePicker-icon-color;
                }
                &.available {
                  div {
                    width: $datePicker-line-height;
                    display: inline-block;
                    border-radius: 100%;
                    cursor: pointer;
                    line-height: $datePicker-line-height;
                    &:hover {
                      color: $datePicker-default-color;
                      background: transparentize($datePicker-default-color, 0.8);
                    }
                  }
                }
                &.today {
                  color: $datePicker-default-color;
                  font-weight: bold;
                }
                &.next-month {
                  pointer-events: none;
                  color: $datePicker-icon-color;
                }
                &.current {
                  color: #fff;
                  div {
                    background: transparentize($datePicker-default-color, 0);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

