
@import "~@/styles/const.scss";
@import "~@/styles/components/input.scss";

.xin-date-picker {
  display: inline-block;
  width: $select-width;
  transition: all 0.3s;
  vertical-align: middle;
  position: relative;
  font-size: 0;
  & + & {
    margin-left: $radio-space-width;
  }

  &.disabled {
    .xin-date-picker-input {
      cursor: not-allowed;
      color: transparentize($input-default-color, 0.7);
      border: 1px solid transparentize($input-default-color, 0.7);
    }
    .xin-date-picker-icon {
      cursor: not-allowed;
      color: transparentize($input-default-color, 0.7);
    }
  }

  &.range {
    width: $select-width + 100px;
    .xin-date-picker-input {
      .input-text {
        text-align: center;
      }
    }
  }

  .xin-date-picker-icon {
    width: $input-line-height;
    height: 100%;
    position: absolute;
    top: 0;
    color: $input-default-color;
    display: flex;
    justify-content: center;
    align-items: center;
    &.icon-left {
      left: 0;
    }
    &.icon-right {
      right: 0;
      .icon:hover {
        color: $input-default-color - #333333;
      }
    }
    .icon {
      width: 16px;
      height: 16px;
      display: block;
      &.rotate {
        transform: rotate(180deg);
      }
    }
  }

  .xin-date-picker-input {
    width: 100%;
    font-size: $input-font-size;
    line-height: $input-line-height - 6px;
    box-sizing: border-box;
    padding: 2px $input-space-width;
    border: 1px solid $select-default-color;
    background: transparentize($select-default-color, 0.95);
    display: flex;
    .input-text {
      flex: 1;
      &.placeholder {
        color: transparentize($select-default-color, 0.6);
      }
    }
    .space {
      margin: 0 10px;
    }
    &.has-left-icon {
      padding-left: $input-line-height;
    }
    &.has-right-icon {
      padding-right: $input-line-height;
    }
    &.focus {
      border: 1px solid $select-info-color;
      box-shadow: 0 0 8px transparentize($select-info-color, 0.6);
      background: transparentize($select-info-color, 0.9);
    }
    &.has-left-icon {
      padding-left: $input-line-height;
    }
    &.has-right-icon {
      padding-right: $input-line-height;
    }
    &.xin-date-picker-round {
      border-radius: $input-line-height / 2;
    }
  }
  .xin-date-picker-cover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .xin-date-picker-options {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 5px;
    min-width: 100%;
    z-index: 2000;
    .date-picker-content {
      box-shadow: 0 0 8px transparentize($select-default-color, 0.6);
      &.range {
        width: 2 * $datePicker-width + 1px;
      }
      .calendar {
        width: $datePicker-width;
        display: inline-block;
        background: #fff;
        &.border {
          border-left: 1px solid #eee;
        }
      }
      .content-header {
        height: 30px;
        position: relative;
        border-bottom: 1px solid #eee;
        padding: 5px 0;
        .icon-left {
          left: 10px;
          .icon:hover {
            color: $input-default-color - #333333;
          }
        }
        .icon-right {
          right: 10px;
        }
        .icon {
          cursor: pointer;
        }
        .content-header-text {
          text-align: center;
          width: 100%;
          font-size: $datePicker-font-size;
          line-height: $datePicker-line-height;
          color: #000;
        }
      }
      .content-body {
        .date-picker-content-body {
          width: 100%;
          margin-top: 10px;
          padding: 10px;
          .thead {
            .tr {
              .th {
                line-height: 30px;
                font-size: $datePicker-font-size;
              }
            }
          }
          .tbody {
            .tr {
              .td {
                padding: 3px 0;
                .day-box {
                  height: 20px;
                  width: 100%;
                  margin: 5px 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  &.section {
                    color: $datePicker-info-color;
                    background: transparentize($datePicker-info-color, 0.9);
                  }
                  .day {
                    width: 30px;
                    line-height: 30px;
                    margin: 0 auto;
                    text-align: center;
                    font-size: $datePicker-font-size;
                    // border-radius: 100%;
                    &.current-month {
                      cursor: pointer;
                      &:hover {
                        color: $datePicker-info-color;
                        background: transparentize($datePicker-info-color, 0.9);
                      }
                    }
                    &.disabled {
                      color: transparentize($datePicker-default-color, 0.5);
                      &.today {
                        color: transparentize($datePicker-default-color, 0.5);
                      }
                      &.current-month {
                        cursor: auto;
                        &:hover {
                          color: transparentize($datePicker-default-color, 0.5);
                          background: #fff;
                        }
                      }
                    }
                    &.today {
                      color: $datePicker-info-color;
                      font-weight: bold;
                      font-size: $datePicker-font-size + 1px;
                    }
                    &.selected {
                      color: #fff;
                      background: $datePicker-info-color;
                      &:hover {
                        color: #fff;
                        background: $datePicker-info-color;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

