
@import "~@/styles/const.scss";
.xin-row {
  display: flex;
  &.align-start {
    align-items: flex-start;
  }
  &.align-center {
    align-items: center;
  }
  &.align-end {
    align-items: flex-end;
  }
  &.justify-start {
    justify-content: flex-start;
  }
  &.justify-end {
    justify-content: flex-end;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-space-around {
    justify-content: space-around;
  }
  &.justify-space-between {
    justify-content: space-between;
  }
}

.xin-col {
  display: inline-block;
  font-size: $grid-font-size;
  box-sizing: border-box;
  &.xin-col-span-1 {
    width: percentage(1 / 24);
  }
  &.xin-col-span-2 {
    width: percentage(2 / 24);
  }
  &.xin-col-span-3 {
    width: percentage(3 / 24);
  }
  &.xin-col-span-4 {
    width: percentage(4 / 24);
  }
  &.xin-col-span-5 {
    width: percentage(5 / 24);
  }
  &.xin-col-span-6 {
    width: percentage(6 / 24);
  }
  &.xin-col-span-7 {
    width: percentage(7 / 24);
  }
  &.xin-col-span-8 {
    width: percentage(8 / 24);
  }
  &.xin-col-span-9 {
    width: percentage(9 / 24);
  }
  &.xin-col-span-10 {
    width: percentage(10 / 24);
  }
  &.xin-col-span-11 {
    width: percentage(11 / 24);
  }
  &.xin-col-span-12 {
    width: percentage(12 / 24);
  }
  &.xin-col-span-13 {
    width: percentage(13 / 24);
  }
  &.xin-col-span-14 {
    width: percentage(14 / 24);
  }
  &.xin-col-span-15 {
    width: percentage(15 / 24);
  }
  &.xin-col-span-16 {
    width: percentage(16 / 24);
  }
  &.xin-col-span-17 {
    width: percentage(17 / 24);
  }
  &.xin-col-span-18 {
    width: percentage(18 / 24);
  }
  &.xin-col-span-19 {
    width: percentage(19 / 24);
  }
  &.xin-col-span-20 {
    width: percentage(20 / 24);
  }
  &.xin-col-span-21 {
    width: percentage(21 / 24);
  }
  &.xin-col-span-22 {
    width: percentage(22 / 24);
  }
  &.xin-col-span-23 {
    width: percentage(23 / 24);
  }
  &.xin-col-span-24 {
    width: percentage(24 / 24);
  }
}