
@import "~@/styles/const.scss";
@mixin xin-input-color ($color) {
  .xin-input-inner {
    color: $color;
    border: 1px solid $color;
    background: transparentize($color, 0.95);
    &:focus {
      box-shadow: 0 0 8px transparentize($color, 0.6);
      background: transparentize($color, 0.9);
    }
    &::placeholder {
      color: transparentize($color, 0.6);
    }
  }
  &.disabled {
    .xin-input-inner {
      cursor: not-allowed;
      color: transparentize($color, 0.7);
      border: 1px solid transparentize($color, 0.7);
    }
    .xin-input-icon {
      cursor: not-allowed;
      color: transparentize($color, 0.7);
    }
  }
}
@mixin xin-input-default-color ($color, $info) {
  .xin-input-inner {
    color: $color;
    border: 1px solid $color;
    background: transparentize($color, 0.95);
    &:focus {
      box-shadow: 0 0 8px transparentize($info, 0.6);
      background: transparentize($info, 0.9);
      border: 1px solid transparentize($info, 0);
    }
    &::placeholder {
      color: transparentize($color, 0.6);
    }
  }
  &.disabled {
    .xin-input-inner {
      cursor: not-allowed;
      color: transparentize($color, 0.7);
      border: 1px solid transparentize($color, 0.7);
    }
    .xin-input-icon {
      cursor: not-allowed;
      color: transparentize($color, 0.7);
    }
  }
}
@mixin xin-textarea-color ($color) {
  .xin-textarea-inner {
    color: $color;
    border: 1px solid $color;
    background: transparentize($color, 0.95);
    &:focus {
      box-shadow: 0 0 8px transparentize($color, 0.6);
      background: transparentize($color, 0.9);
    }
    &::placeholder {
      color: transparentize($color, 0.6);
    }
  }
  &.disabled {
    .xin-input-inner {
      cursor: not-allowed;
      color: transparentize($color, 0.7);
      border: 1px solid transparentize($color, 0.7);
    }
  }
}
@mixin xin-textarea-default-color ($color, $info) {
  .xin-textarea-inner {
    color: $color;
    border: 1px solid $color;
    background: transparentize($color, 0.95);
    &:focus {
      box-shadow: 0 0 8px transparentize($info, 0.6);
      background: transparentize($info, 0.9);
      border: 1px solid $info;
    }
    &::placeholder {
      color: transparentize($color, 0.6);
    }
  }
  &.disabled {
    .xin-input-inner {
      cursor: not-allowed;
      color: transparentize($color, 0.7);
      border: 1px solid transparentize($color, 0.7);
    }
  }
}
.xin-input {
  display: inline-block;
  width: $input-width;
  height: $input-line-height;
  vertical-align: middle;
  position: relative;
  & + & {
    margin-left: $input-space-width;
  }
  .xin-input-icon {
    width: $input-line-height;
    height: 100%;
    position: absolute;
    top: 0;
    color: $input-default-color;
    display: flex;
    justify-content: center;
    align-items: center;
    &.icon-left {
      left: 0;
    }
    &.icon-right {
      right: 0;
      .icon:hover {
        color: $input-default-color - #333333;
      }
    }
    .icon {
      width: 16px;
      height: 16px;
      display: block;
    }
  }
  .xin-input-inner {
    width: 100%;
    height: 100%;
    font-size: $input-font-size;
    line-height: $input-line-height;
    outline: none;
    box-sizing: border-box;
    padding: 0 $input-space-width;
    transition: all $input-animate-time;
    &.has-left-icon {
      padding-left: $input-line-height;
    }
    &.has-right-icon {
      padding-right: $input-line-height;
    }
    &.xin-input-round {
      border-radius: $input-line-height / 2;
    }
    &.xin-input-center {
      text-align: center;
    }
  }
  &.xin-input-default {
    @include xin-input-default-color ($input-default-color, $input-info-color);
  }
  &.xin-input-success {
    @include xin-input-color ($input-success-color);
  }
  &.xin-input-error {
    @include xin-input-color ($input-error-color);
  }
}

.xin-textarea {
  display: inline-block;
  width: $textarea-width;
  & + & {
    margin-left: $input-space-width;
  }
  .xin-textarea-inner {
    margin-right: $input-space-width;
    font-size: $input-font-size;
    line-height: $textarea-line-height;
    width: 100%;
    height: $textarea-height;
    vertical-align: top;
    outline: none;
    box-sizing: border-box;
    padding: 5px $input-space-width;
    transition: all $input-animate-time;
    resize: none;
    overflow-y: auto;
    &.xin-textarea-round {
      border-radius: $input-line-height / 4;
    }
  }
  &.xin-textarea-default {
    @include xin-textarea-default-color ($input-default-color, $input-info-color);
  }
  &.xin-textarea-success {
    @include xin-textarea-color ($input-success-color);
  }
  &.xin-textarea-error {
    @include xin-textarea-color ($input-error-color);
  }
}

