
@import "~@/styles/const.scss";

.xin-label {
  display: inline-block;
  margin-right: $label-space-width;
  text-align: left;
  font-size: $label-font-size;
  width: auto;
  line-height: $label-line-height;
  vertical-align: middle;
  color: $label-color;
  &.xin-label-align-left {
    text-align: left;
  }
  &.xin-label-align-center {
    text-align: center;
  }
  &.xin-label-align-right {
    text-align: right;
  }
  &.xin-label-required {
    &:before {
      content: '*';
      color: $label-required-color;
      font-size: $label-font-size + 2px;
      text-align: center;
      position: relative;
      top: 2px;
      display: inline-block;
      margin: 0 3px;
    }
  }
}
