
@import "~@/styles/const.scss";
.xin-message {
  min-width: $message-width;
  max-width: 2 * $message-width;
  position: fixed;
  left: 50%;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  transform: translate3d(-50%, 0, 0);
  transition: all $message-animate-time;
  z-index: 7000;
  .xin-message-icon {
    align-items: center;
    display: flex;
    .xin-iconfont {
      width: $message-line-height;
      height: $message-line-height;
      line-height: $message-line-height;
      text-align: center;
      &.close {
        cursor: pointer;
      }
      &.icon {
        font-size: $message-font-size + 8px;
      }
    }
  }
  .xin-message-content {
    flex: 1;
    margin-left: 10px;
    line-height: $message-line-height;
    font-size: $message-font-size;
    word-break: break-all;
  }
  &.xin-message-success {
    background: transparentize($message-success-color, 0);
    color: #fff;
  }
  &.xin-message-info {
    background: transparentize($message-active-color, 0);
    color: #fff;
  }
  &.xin-message-warning {
    background: transparentize($message-warning-color, 0);
    color: #fff;
  }
  &.xin-message-error {
    background: transparentize($message-error-color, 0);
    color: #fff;
  }
}

