
@import "~@/styles/const.scss";
.xin-page {
  margin: 20px 0;
  &.xin-page-align-left {
    text-align: left;
  }
  &.xin-page-align-center {
    text-align: center;
  }
  &.xin-page-align-right {
    text-align: right;
  }
  .xin-page-item {
    display: inline-block;
    line-height: $page-item-height;
    margin-right: $page-space-width;
    font-size: $page-font-size;
    text-align: center;
    color: $page-font-color;
    box-sizing: border-box;
    vertical-align: middle;
    transition: all $page-animate-time;
    // font-weight: bold;
    user-select: none;
    &.padding {
      padding: 0 $page-space-width;
    }
    &.bg {
      background: $page-background-color;
    }
    &:last-child {
      margin-right: 0;
    }
    &.cursor {
      cursor: pointer;
      &.active {
        background: $page-active-color;
        color: #fff;
        box-shadow: 0 0 8px transparentize($page-active-color, 0.3);
        &:hover {
          background: $page-active-color;
          color: #fff;
        }
      }
      &:hover {
        color: $page-active-color;
        background: transparentize($page-active-color, 0.7);
      }
    }
    &.disabled {
      cursor: not-allowed;
      color: transparentize($page-font-color, 0.6);
    }
    &.width {
      min-width: $page-item-width;
    }
    .xin-page-select {
      vertical-align: top;
      margin-right: 0;
    }
    .xin-page-input {
      vertical-align: top;
      margin-right: 0;
    }
  }
}

