
@import "~@/styles/const.scss";

.xin-radio {
  display: inline-block;
  margin-right: $radio-margin-right;
  cursor: pointer;
  transition: all 0.3s;
  .icon {
    display: inline-block;
    height: $radio-icon-width;
    width: $radio-icon-width;
    border: 1px solid $radio-default-color;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: $radio-icon-margin-right;
    box-sizing: border-box;
  }
  .label {
    display: inline-block;
    font-size: $radio-font-size;
    line-height: $radio-line-height;
    height: $radio-line-height;
    vertical-align: middle;
    color: $radio-default-color;
  }
  &.selected {
    .icon {
      border: 5px solid $radio-active-color;
      box-shadow: 0 0 8px transparentize($radio-active-color, 0.3);
    }
    .label {
      color: $radio-active-color;
    }
  }
  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    .icon {
      border-color: $radio-default-color + #333333;
      box-shadow: none;
    }
    .label {
      color: $radio-default-color + #333333;
    }
  }
}
