
@import "~@/styles/const.scss";

.xin-radio {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  & + & {
    margin-left: $radio-space-width;
  }
  .xin-radio-icon {
    display: inline-block;
    height: $radio-icon-width;
    width: $radio-icon-width;
    border-style: solid;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: $radio-icon-margin-right;
    box-sizing: border-box;
    transition: all $radio-animate-time;
  }
  .xin-radio-label {
    display: inline-block;
    font-size: $radio-font-size;
    line-height: $radio-line-height;
    height: $radio-line-height;
    vertical-align: middle;
  }
  &.disabled {
    cursor: not-allowed;
  }
  &.xin-radio-info {
    .xin-radio-icon {
      border-width: 1px;
      border-color: $radio-default-color;
    }
    .xin-radio-label {
      color: $radio-default-color;
    }
    &.selected {
      .xin-radio-icon {
        border-width: 5px;
        border-color: $radio-info-color;
        box-shadow: 0 0 8px transparentize($radio-info-color, 0.3);
      }
      .xin-radio-label {
        color: $radio-info-color;
      }
    }
    &.disabled {
      .xin-radio-icon {
        border-color: $radio-disabled-color;
        box-shadow: none;
      }
      .xin-radio-label {
        color: $radio-disabled-color;
      }
    }
  }
  &.xin-radio-white {
    .xin-radio-icon {
      border-width: 1px;
      border-color: #fff;
    }
    .xin-radio-label {
      color: #fff;
    }
    &.selected {
      .xin-radio-icon {
        border-width: 5px;
        border-color: #fff;
        box-shadow: 0 0 8px transparentize(#fff, 0.3);
      }
    }
    &.disabled {
      .xin-radio-icon {
        border-color: transparentize(#fff, 0.5);
        box-shadow: none;
      }
      .xin-radio-label {
        color: transparentize(#fff, 0.5);
      }
    }
  }
}
