
@import "~@/styles/const.scss";
.xin-rate {
  margin-right: $rate-space-width;
  display: inline-block;
  height: $rate-line-height;
  padding: (($rate-line-height - $rate-icon-height) / 2) 0;
  box-sizing: border-box;
  vertical-align: middle;
  .xin-rate-item {
    margin-right: $rate-space-width;
    display: inline-block;
    cursor: pointer;
    line-height: $rate-icon-height;
    font-size: $rate-icon-height;
    color: $rate-icon-color;
    transition: all $rate-animate-time;
    &:hover {
      transform: scale(1.1);
    }
    &.xin-rate-active {
      transform: scale(1.1);
      &.xin-rate-info {
        color: $rate-info-color;
      }
      &.xin-rate-success {
        color: $rate-success-color;
      }
      &.xin-rate-error {
        color: $rate-error-color;
      }
      &.xin-rate-warning {
        color: $rate-warning-color;
      }
    }
    &.xin-rate-disabled {
      cursor: not-allowed;
    }
  }
}

