
@import "~@/styles/const.scss";
@import "~@/styles/components/input.scss";

.xin-select {
  display: inline-block;
  width: $select-width;
  transition: all 0.3s;
  vertical-align: middle;
  position: relative;
  font-size: 0;
  & + & {
    margin-left: $radio-space-width;
  }
  &.disabled {
    .xin-select-input {
      cursor: not-allowed;
      color: transparentize($input-default-color, 0.7);
      border: 1px solid transparentize($input-default-color, 0.7);
    }
    .xin-select-icon {
      cursor: not-allowed;
      color: transparentize($input-default-color, 0.7);
    }
  }
  .xin-select-icon {
    width: $input-line-height;
    height: 100%;
    position: absolute;
    top: 0;
    color: $input-default-color;
    display: flex;
    justify-content: center;
    align-items: center;
    &.icon-left {
      left: 0;
    }
    &.icon-right {
      right: 0;
      .icon:hover {
        color: $input-default-color - #333333;
      }
    }
    .icon {
      width: 16px;
      height: 16px;
      display: block;
      &.rotate {
        transform: rotate(180deg);
      }
    }
  }

  .xin-select-input {
    width: 100%;
    font-size: $input-font-size;
    line-height: $input-line-height - 6px;
    box-sizing: border-box;
    padding: 2px $input-space-width;
    border: 1px solid $select-default-color;
    background: transparentize($select-default-color, 0.95);
    .xin-tag {
      vertical-align: top;
    }
    &.has-left-icon {
      padding-left: $input-line-height;
    }
    &.has-right-icon {
      padding-right: $input-line-height;
    }
    &.focus {
      box-shadow: 0 0 8px transparentize($select-default-color, 0.6);
      background: transparentize($select-default-color, 0.9);
    }
    &.placeholder {
      color: transparentize($select-default-color, 0.6);
    }
    &.multiple {
      padding-left: $input-space-width - 5px;
      padding-right: $input-space-width - 5px;
    }
    &.has-left-icon {
      padding-left: $input-line-height;
    }
    &.has-right-icon {
      padding-right: $input-line-height;
    }
    &.xin-select-round {
      border-radius: $input-line-height / 2;
    }
  }
  .xin-select-cover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .xin-select-tags {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: $select-line-height;
    font-size: $input-font-size;
    line-height: $input-line-height - 10px;
    box-sizing: border-box;
    padding: 2px $input-space-width;
    box-sizing: border-box;
    transition: all $select-animate-time;
    border: 1px solid $select-default-color;
  }
  .xin-select-options {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 5px;
    min-width: 100%;
    z-index: 2000;
    .xin-options-ul {
      padding: 0;
      list-style-type: none;
      background: #fff;
      box-shadow: 0 0 8px transparentize($select-default-color, 0.6);
      .xin-option {
        list-style-type: none;
        font-size: $select-font-size;
        padding: 0 $select-space-width;
        box-sizing: border-box;
        width: 100%;
        line-height: $select-line-height - 5px;
        white-space: nowrap;
        cursor: pointer;
        &:hover {
          background: transparentize($select-info-color, 0.8);
        }
        &.selected {
          color: #fff;
          background: transparentize($select-info-color, 0);
        }
      }
    }
  }
}

