
@import "~@/styles/const.scss";
.xin-slide {
  height: $slide-line-height;
  box-sizing: border-box;
  vertical-align: middle;
  padding: (($slide-line-height - $slide-height) / 2) 0;
  user-select: none;
  .slide-content {
    width: 100%;
    height: 100%;
    background: transparentize($slide-default-color, 0.8);
    .slide-content-dots {
      width: 100%;
      height: 100%;
      position: relative;
      .slide-dot {
        position: absolute;
        top: 15%;
        width: 2px;
        height: 70%;
        background: #fff;
      }
    }
    position: relative;
    .content-handle {
      position: absolute;
      width: $slide-bar-width;
      height: $slide-bar-width;
      top: 0;
      background: $slide-info-color;
      transform: translate3d(-50%, -(($slide-bar-width - $slide-height) / 2), 0);
      border: 2px solid #fff;
      // opacity: 0.5;
      box-sizing: border-box;
      cursor: pointer;
      z-index: 1;
    }
    .content-selected {
      position: absolute;
      top: 0;
      height: 100%;
      background: $slide-info-color;
    }
  }
  &.disabled {
    .slide-content {
      background: transparentize(($slide-default-color + #333333), 0.8);
      .content-handle {
        cursor: not-allowed;
        background: $slide-default-color + #333333;
      }
      .content-selected {
        opacity: 0.6;
        background: $slide-default-color + #333333;
      }
    }
  }
}

