
@import "~@/styles/const.scss";
.xin-switch {
  margin-right: $switch-margin-right;
  display: inline-block;
  min-width: $switch-min-width;
  height: $switch-line-height;
  padding: $switch-border-width;
  box-sizing: border-box;
  vertical-align: middle;
  background: $switch-background-color;
  cursor: pointer;
  .xin-switch-box {
    width: 100%;
    height: 100%;
    display: flex;
    .xin-switch-item {
      width: $switch-line-height - 2 * $switch-border-width;
      height: $switch-line-height - 2 * $switch-border-width;
      background: #fff;
      float: left;
      display: inline-block;
      transition: all $switch-animate-time;
    }
    .xin-switch-label {
      font-size: $switch-font-size;
      text-align: center;
      flex: 1;
      line-height: $switch-line-height - 2 * $switch-border-width;
      color: #fff;
      display: inline-block;
      overflow: hidden;
      &.left {
        display: inline-block;
        padding-right: $switch-border-width;
      }
      &.right {
        display: none;
      }
    }
  }
  
  &.xin-switch-active {
    &.default {
      background: $switch-default-color;
    }
    &.success {
      background: $switch-success-color;
    }
    &.error {
      background: $switch-error-color;
    }
    &.warning {
      background: $switch-warning-color;
    }
    .xin-switch-box {
      .xin-switch-item {
        float: right;
      }
      .xin-switch-label {
        &.left {
          display: none;
        }
        &.right {
          flex: 1;
          display: inline-block;
          padding-left: $switch-border-width;
        }
      }
    }
  }
  &.xin-switch-disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }
}

