
@import "~@/styles/const.scss";
.xin-table {
  width: 100%;
  .xin-table-content {
    width: 100%;
    border-top: 1px solid $table-active-color;
    .xin-table-thead {
      .xin-table-tr {
        .xin-table-th {
          font-size: $table-font-size;
          line-height: $table-line-height;
          background: $table-active-color;
          color: #fff;
          padding: 5px 0;
        }
      }
    }
    .xin-table-tbody {
      .xin-table-tr {
        & > td {
          font-size: $table-font-size;
          line-height: $table-line-height;
          text-align: center;
          padding: 5px;
        }
        &.stripe {
          background: transparentize($table-active-color, 0.95);
        }
      }
    }
  }
  .xin-table-null {
    padding: 30px 45%;
    text-align: center;
    background: transparentize($table-active-color, 0.9);
    color: transparentize($table-active-color, 0.5);
    .xin-table-null-iconfont {
      font-size: 30px;
      display: block;
    }
    .xin-table-null-text {
      text-align: center;
      display: block;
      font-size: $table-font-size;
    }
  }
}

