
@import "~@/styles/const.scss";
.xin-table {
  width: 100%;
  .xin-table-content {
    width: 100%;
    display: table;
    .xin-table-thead {
      .xin-table-tr {
        border: none;
        .xin-table-th {
          font-size: $table-font-size;
          line-height: $table-line-height;
          padding: 5px 0;
          border: none;
          border-bottom: 1px solid $table-info-color;
          color: $table-info-color;
        }
      }
    }
    .xin-table-tbody {
      .xin-table-tr {
        border: none;
        & > td, .xin-table-td {
          font-size: $table-font-size;
          line-height: $table-line-height;
          text-align: center;
          padding: 5px;
          border: none;
        }
        &.stripe {
          background: transparentize($table-default-color, 0.95);
        }
      }
    }
  }
  .xin-table-null {
    padding: 30px 45%;
    text-align: center;
    background: transparentize($table-default-color, 0.9);
    color: transparentize($table-default-color, 0.5);
    .xin-table-null-iconfont {
      font-size: 26px;
      display: block;
    }
    .xin-table-null-text {
      text-align: center;
      display: block;
      font-size: $table-font-size;
    }
  }
}

