
@import "~@/styles/const.scss";
@mixin xin-tag-color ($color) {
  background: transparentize($color, 0.9);
  color: $tag-default-color;
  &.fill {
    background: transparentize($color, 0);
    color: #fff;
  }
}
.xin-tag {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  vertical-align: middle;
  font-size: 0;
  & + & {
    margin-left: $tag-space-width;
  }
  .xin-iconfont {
    width: $tag-line-height;
    height: $tag-line-height;
    line-height: $tag-line-height;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
  }
  .xin-tag-content {
    margin: 0 5px;
    line-height: $tag-line-height;
    font-size: $tag-font-size;
    word-break: break-all;
    vertical-align: top;
    display: inline-block;
  }
  &.small {
    padding: 0;
    margin: 3px;
    height: $tag-line-height;
    .xin-tag-content {
      margin: 0 0 0 5px;
    }
  }
  &.xin-tag-default {
    @include xin-tag-color ($tag-default-color);
  }
  &.xin-tag-success {
    @include xin-tag-color ($tag-success-color);
  }
  &.xin-tag-info {
    @include xin-tag-color ($tag-info-color);
  }
  &.xin-tag-warning {
    @include xin-tag-color ($tag-warning-color);
  }
  &.xin-tag-error {
    @include xin-tag-color ($tag-error-color);
  }
}

