
@import "~@/styles/const.scss";

.xin-tooltip.xin-popover
.xin-popover-content
.xin-popover-content-box
.xin-popover-content-text-box
.xin-popover-content-text {
  white-space: nowrap;
  padding: 0 $tooltip-space-width;
  user-select: none;
}
