
@import "~@/styles/const.scss";
.xin-transfer {
  width: $transfer-width;
  min-height: $transfer-height;
  font-size: 0;
  box-sizing: border-box;
  vertical-align: top;
  display: inline-flex;
  & + & {
    margin-left: $transfer-space-width;
  }
  &:hover {
    .xin-transfer-side {
      border: 1px solid $transfer-info-color;
      box-shadow: 0 0 8px transparentize($transfer-info-color, 0.6);
      .xin-transfer-head {
        border-bottom: 1px solid $transfer-info-color;
      }
    }
  }
  .xin-transfer-side {
    flex: 1;
    height: 100%;
    display: inline-block;
    border: 1px solid $transfer-default-color;
    box-sizing: border-box;
    transition: all 0.5s;
    vertical-align: top;
    .xin-transfer-head {
      font-size: $transfer-font-size;
      padding: 0 10px;
      line-height: $transfer-line-height;
      border-bottom: 1px solid $transfer-default-color;
      
      .xin-transfer-desc {
        float: right;
      }
    }
    .xin-transfer-body {
      width: 100%;
      height: $transfer-height - $transfer-line-height - 1px;
      overflow-y: auto;
      .xin-transfer-item {
        font-size: $transfer-font-size;
        color: #333;
        padding: 0 10px;
        line-height: 40px;
      }
    }
  }
  .xin-transfer-control {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
    .cont-btn {
      width: $transfer-line-height;
      height: $transfer-line-height;
      line-height: $transfer-line-height;
      text-align: center;
      display: block;
      box-sizing: border-box;
      border: 1px solid $transfer-default-color;
      margin: ($transfer-space-width / 2) $transfer-space-width;
      transition: all $transfer-animate-time;
      cursor: not-allowed;
      &.active {
        background: $transfer-info-color;
        color: #fff;
        border: 1px solid $transfer-info-color;
        cursor: pointer;
      }
    }
  }
}
