// 透明度
.xin-fade-enter-active, .xin-fade-leave-active {
  transition: opacity $common-animate-time;
}
.xin-fade-enter, .xin-fade-leave-to {
  opacity: 0;
}

// 下移
.xin-down-enter-active, .xin-down-leave-active {
  transition: transform $common-animate-time;
  transform: translateY(0);
}
.xin-down-enter, .xin-down-leave-to {
  transform: translateY(-15px);
}

// 透明度 and 下移
.xin-fade-down-enter-active, .xin-fade-down-leave-active {
  transition: all $common-animate-time;
  transform: translateY(0);
  opacity: 1;
}
.xin-fade-down-enter, .xin-fade-down-leave-to {
  opacity: 0;
  transform: translateY(-15px);
}

// message
// 透明度 and 下移
.xin-message-enter-active, .xin-message-leave-active {
  transition: all $message-animate-time;
  transform: translate3d(-50%, 0, 0);
}
.xin-message-enter, .xin-message-leave-to {
  opacity: 0;
  transform: translate3d(-50%, -50px, 0) !important;
}

// steps
@keyframes steps-animate {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.9);
  }
}

// progress
@keyframes progress-animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 0;
  }
}

// popover
// 透明度 and 位移
.xin-popover-enter-active, .xin-popover-leave-active {
  transition: all $popover-animate-time;
}
.xin-popover-enter, .xin-popover-leave-to {
  opacity: 0;
}
.xin-popover-top-enter-active, .xin-popover-top-leave-active,
.xin-popover-right-enter-active, .xin-popover-right-leave-active,
.xin-popover-bottom-enter-active, .xin-popover-bottom-leave-active,
.xin-popover-left-enter-active, .xin-popover-left-leave-active {
  transition: all $popover-animate-time;
  transform: translate3d(0, 0, 0);
}
.xin-popover-top-enter, .xin-popover-top-leave-to {
  opacity: 0;
  transform: translate3d(0, -10px, 0);
}
.xin-popover-right-enter, .xin-popover-right-leave-to {
  opacity: 0;
  transform: translate3d(10px, 0, 0);
}
.xin-popover-bottom-enter, .xin-popover-bottom-leave-to {
  opacity: 0;
  transform: translate3d(0, 10px, 0);
}
.xin-popover-left-enter, .xin-popover-left-leave-to {
  opacity: 0;
  transform: translate3d(-10px, 0, 0);
}

// tips
// 透明度 and 下移
.xin-tips-enter-active, .xin-tips-leave-active {
  transition: all $tips-animate-time;
}
.xin-tips-enter, .xin-tips-leave-to {
  opacity: 0;
}