
.xin-fade-enter-active, .xin-fade-leave-active {
  transition: opacity $dialog-animate-time;
}
.xin-fade-enter, .xin-fade-leave-to {
  opacity: 0;
}
.xin-down-enter-active, .xin-down-leave-active {
  transition: transform $dialog-animate-time;
  transform: translateY(0);
}
.xin-down-enter, .xin-down-leave-to {
  transform: translateY(-15px);
}