// 字体字形
$font-size: 12px;
$line-height: 30px;

// 距离
$space-width: 15px;
$common-width: 200px;

// 颜色
$color-gray: #7d7f82;
$color-blue: #0095ff;
$color-green: #15bf81;
$color-yellow: #f7ab42;
$color-red: #ff6666;
$font-color: $color-gray - #333333;
$border-color: $color-gray + #555555;

// 其他
$common-animate-time: 0.3s;

// label
$label-color: $font-color + #333333;
$label-required-color: $color-red;
$label-font-size: $font-size;
$label-space-width: $space-width;
$label-line-height: $line-height;

// input
$input-font-color: $font-color;
$input-disabled-color: $font-color + #777777;
$input-width: $common-width;
$input-animate-time: $common-animate-time;
$input-font-size: $font-size;
$input-space-width: $space-width;
$input-line-height: $line-height;
$input-default-color: $color-gray;
$input-error-color: $color-red;
$input-warning-color: $color-yellow;
$input-info-color: $color-blue;
$input-success-color: $color-green;

$textarea-height: 100px;
$textarea-width: 300px;
$textarea-line-height: $line-height - 10px;

// button
$button-padding: $space-width;
$button-space-width: $space-width;
$button-font-size: $font-size;
$button-line-height: $line-height;
$button-default-color: $color-gray;
$button-success-color: $color-green;
$button-error-color: $color-red;
$button-warning-color: $color-yellow;
$button-info-color: $color-blue;

// radio
$radio-space-width: $space-width;
$radio-font-size: $font-size;
$radio-animate-time: 0.1s;
$radio-icon-width: 15px;
$radio-icon-margin-right: 5px;
$radio-line-height: $line-height;
$radio-default-color: $color-gray;
$radio-info-color: $color-blue;
$radio-disabled-color: $color-gray + #555555;

// checkbox
$checkbox-font-size: $font-size;
$checkbox-animate-time: 0.1s;
$checkbox-icon-width: 15px;
$checkbox-icon-margin-right: 5px;
$checkbox-line-height: $line-height;
$checkbox-font-size: $font-size;
$checkbox-default-color: $color-gray;
$checkbox-active-color: $color-blue;
$checkbox-disabled-color: $color-gray + #555555;

// select
$select-width: $common-width;
$select-font-size: $font-size;
$select-animate-time: 0.1s;
$select-icon-width: 15px;
$select-line-height: $line-height;
$select-space-width: $space-width;
$select-default-color: $color-gray;
$select-info-color: $color-blue;
$select-warning-color: $color-yellow;
$select-success-color: $color-green;
$select-error-color: $color-red;

// switch
$switch-space-width: $space-width;
$switch-line-height: $line-height;
$switch-min-width: 60px;
$switch-font-size: $font-size;
$switch-animate-time: $common-animate-time;
$switch-border-width: 5px;
$switch-default-color: $color-gray;
$switch-info-color: $color-blue;
$switch-success-color: $color-green;
$switch-error-color: $color-red;
$switch-warning-color: $color-yellow;

// rate
$rate-space-width: $space-width;
$rate-line-height: $line-height;
$rate-min-width: 60px;
$rate-font-size: $font-size;
$rate-animate-time: 0.3s;
$rate-icon-height: 20px;
$rate-icon-color: $color-gray + #444444;
$rate-default-color: $color-blue;
$rate-success-color: $color-green;
$rate-error-color: $color-red;
$rate-warning-color: $color-yellow;

// datePicker
$datePicker-space-width: $space-width;
$datePicker-line-height: $line-height;
$datePicker-min-width: 60px;
$datePicker-width: 300px;
$datePicker-font-size: $font-size;
$datePicker-animate-time: 0.3s;
$datePicker-icon-height: 20px;
$datePicker-icon-color: $color-gray + #444444;
$datePicker-color: $color-gray - #222222;
$datePicker-default-color: $color-gray;
$datePicker-info-color: $color-blue;
$datePicker-success-color: $color-green;
$datePicker-error-color: $color-red;
$datePicker-warning-color: $color-yellow;

// select
$tagInput-width: 200px;
$tagInput-font-size: $font-size;
$tagInput-animate-time: 0.1s;
$tagInput-icon-width: 15px;
$tagInput-line-height: $line-height;
$tagInput-space-width: $space-width;
$tagInput-default-color: $color-gray;
$tagInput-info-color: $color-blue;
$tagInput-warning-color: $color-yellow;
$tagInput-success-color: $color-green;
$tagInput-error-color: $color-red;

// table
$table-font-size: $font-size;
$table-line-height: $line-height;
$table-default-color: $color-gray;
$table-info-color: $color-blue;
$table-success-color: $color-green;
$table-error-color: $color-red;
$table-warning-color: $color-yellow;

// page
$page-font-size: $font-size;
$page-item-height: $line-height;
$page-animate-time: 0.3s;
$page-item-width: 40px;
$page-space-width: $space-width;
$page-space-width: $space-width - 5px;
$page-font-color: $color-gray;
$page-background-color: $color-gray + #666666;
$page-active-color: $color-blue;

// tabs
$tabs-font-size: $font-size;
$tabs-animate-time: 0.3s;
$tabs-item-height: $line-height + 10px;
$tabs-width: 100px;
$tabs-default-color: $color-gray;
$tabs-active-color: $color-blue;
$tabs-success-color: $color-green;
$tabs-warning-color: $color-yellow;
$tabs-error-color: $color-red;

// dialog
$dialog-cover-background: #000;
$dialog-width: 500px;
$dialog-animate-time: 0.3s;
$dialog-header-padding: 5px;
$dialog-font-size: $font-size;
$dialog-line-height: $line-height;
$dialog-default-color: $color-gray;
$dialog-active-color: $color-blue;
$dialog-success-color: $color-green;
$dialog-warning-color: $color-yellow;
$dialog-error-color: $color-red;

// message
$message-width: 250px;
$message-animate-time: $common-animate-time;
$message-font-size: $font-size;
$message-line-height: $line-height - 14px;
$message-active-color: $color-blue;
$message-success-color: $color-green;
$message-warning-color: $color-yellow;
$message-error-color: $color-red;

// model
$model-width: 500px;
$model-animate-time: $common-animate-time;
$model-font-size: $font-size;
$model-line-height: $line-height - 14px;
$model-active-color: $color-blue;
$model-success-color: $color-green;
$model-warning-color: $color-yellow;
$model-error-color: $color-red;

// steps
$steps-font-size: $font-size;
$steps-line-height: $line-height;
$steps-default-color: $color-gray;
$steps-active-color: $color-blue;
$steps-success-color: $color-green;
$steps-warning-color: $color-yellow;
$steps-error-color: $color-red;

// progress
$progress-space-width: $space-width;
$progress-font-size: $font-size;
$progress-animate-time: 0.3s;
$progress-line-height: $line-height;
$progress-default-color: $color-gray;
$progress-info-color: $color-blue;
$progress-success-color: $color-green;
$progress-warning-color: $color-yellow;
$progress-error-color: $color-red;

// tooltip
$tooltip-space-width: $space-width;

// badge
$badge-space-width: $space-width;
$badge-animate-time: 0.3s;
$badge-font-size: $font-size;
$badge-line-height: $line-height;
$badge-default-color: $color-gray;
$badge-info-color: $color-blue;
$badge-success-color: $color-green;
$badge-warning-color: $color-yellow;
$badge-error-color: $color-red;

// transfer
$transfer-space-width: $space-width;
$transfer-default-color: $color-gray;
$transfer-info-color: $color-blue;
$transfer-success-color: $color-green;
$transfer-warning-color: $color-yellow;
$transfer-error-color: $color-red;

// loading
$loading-info-color: $color-blue;
$loading-success-color: $color-green;
$loading-warning-color: $color-yellow;
$loading-error-color: $color-red;

// tips
$tips-space-width: $space-width;
$tips-animate-time: $common-animate-time;
$tips-font-size: $font-size;
$tips-line-height: $line-height - 14px;
$tips-info-color: $color-blue;
$tips-success-color: $color-green;
$tips-warning-color: $color-yellow;
$tips-error-color: $color-red;

// tag
$tag-space-width: $space-width;
$tag-animate-time: $common-animate-time;
$tag-font-size: $font-size;
$tag-line-height: $line-height - 12px;
$tag-default-color: $color-gray;
$tag-info-color: $color-blue;
$tag-success-color: $color-green;
$tag-warning-color: $color-yellow;
$tag-error-color: $color-red;

// grid
$grid-font-size: $font-size;

// popover
$popover-space-width: $space-width;
$popover-animate-time: 0.3s;
$popover-font-size: $font-size;
$popover-line-height: $line-height;
$popover-default-color: $color-gray;
$popover-info-color: $color-blue;
$popover-success-color: $color-green;
$popover-warning-color: $color-yellow;
$popover-error-color: $color-red;

// tree
$tree-space-width: $space-width;
$tree-animate-time: 0.3s;
$tree-font-size: $font-size;
$tree-line-height: $line-height;
$tree-default-color: $color-gray;
$tree-info-color: $color-blue;
$tree-success-color: $color-green;
$tree-warning-color: $color-yellow;
$tree-error-color: $color-red;