// 字体字形
$font-size: 12px;
$line-height: 30px;

// 距离
$margin-right: 15px;
$common-width: 200px;

// 颜色
$color-gray: #909399;
$color-blue: #0095ff;
$color-green: #15bf81;
$color-yellow: #ffba5a;
$color-red: #ff6666;
$font-color: $color-gray - #555555;
$border-color: $color-gray + #333333;

// 其他
$common-animate-time: 0.3s;

// label
$label-color: $font-color + #333333;
$label-required-color: $color-red;
$label-font-size: $font-size;
$label-margin-right: $margin-right;
$label-line-height: $line-height;

// input
$input-font-color: $font-color;
$input-disabled-color: $font-color + #777777;
$input-width: $common-width;
$input-font-size: $font-size;
$input-margin-right: $margin-right;
$input-line-height: $line-height;
$input-border-color: $border-color;
$input-border-error-color: $color-red;
$input-border-active-color: $color-blue;
$input-border-success-color: $color-green;
$input-padding-right: $margin-right;

$textarea-height: 100px;
$textarea-width: 300px;
$textarea-line-height: $line-height - 10px;

// button
$button-padding: $margin-right;
$button-margin-right: $margin-right;
$button-font-size: $font-size;
$button-line-height: $line-height;
$button-border-default-color: $color-blue;
$button-border-success-color: $color-green;
$button-border-error-color: $color-red;
$button-border-warning-color: $color-yellow;
$button-border-info-color: $color-gray;

// radio
$radio-margin-right: $margin-right;
$radio-font-size: $font-size;
$radio-animate-time: 0.1s;
$radio-icon-width: 15px;
$radio-icon-margin-right: 5px;
$radio-line-height: $line-height;
$radio-default-color: $color-gray;
$radio-active-color: $color-blue;
$radio-disabled-color: $color-gray;

// checkbox
$checkbox-font-size: $font-size;
$checkbox-animate-time: 0.1s;
$checkbox-icon-width: 15px;
$checkbox-icon-margin-right: 5px;
$checkbox-line-height: $line-height;
$checkbox-font-size: $font-size;
$checkbox-default-color: $color-gray;
$checkbox-active-color: $color-blue;
$checkbox-disabled-color: $color-gray + #333333;

// select
$select-width: $common-width;
$select-font-size: $font-size;
$select-animate-time: 0.3s;
$select-icon-width: 15px;
$select-line-height: $line-height;
$select-padding-right: $margin-right;
$select-default-color: $color-gray;
$select-active-color: $color-blue;
$select-disabled-color: $color-gray + #333333;
$select-tag-line-height: $line-height - 10px;
$select-tag-background: $color-gray + #555555;
$select-border-color: $border-color;
$option-line-height: 25px;
$option-padding-right: $margin-right;
$option-font-size: $font-size;
$option-default-color: $color-gray;
$option-active-color: $color-blue;

// switch
$switch-margin-right: $margin-right;
$switch-line-height: $line-height;
$switch-min-width: 60px;
$switch-font-size: $font-size;
$switch-animate-time: 0.3s;
$switch-border-width: 5px;
$switch-background-color: $color-gray;
$switch-default-color: $color-blue;
$switch-success-color: $color-green;
$switch-error-color: $color-red;
$switch-warning-color: $color-yellow;

// rate
$rate-margin-right: $margin-right;
$rate-line-height: $line-height;
$rate-min-width: 60px;
$rate-font-size: $font-size;
$rate-animate-time: 0.3s;
$rate-icon-height: 20px;
$rate-icon-color: $color-gray + #444444;
$rate-default-color: $color-blue;
$rate-success-color: $color-green;
$rate-error-color: $color-red;
$rate-warning-color: $color-yellow;

// datePicker
$datePicker-margin-right: $margin-right;
$datePicker-line-height: $line-height;
$datePicker-min-width: 60px;
$datePicker-width: 300px;
$datePicker-font-size: $font-size;
$datePicker-animate-time: 0.3s;
$datePicker-icon-height: 20px;
$datePicker-icon-color: $color-gray + #444444;
$datePicker-color: $color-gray - #222222;
$datePicker-default-color: $color-blue;
$datePicker-success-color: $color-green;
$datePicker-error-color: $color-red;
$datePicker-warning-color: $color-yellow;

// table
$table-font-size: $font-size;
$table-line-height: $line-height;
$table-default-color: $color-gray;
$table-active-color: $color-blue;
$table-success-color: $color-green;
$table-error-color: $color-red;
$table-warning-color: $color-yellow;

// page
$page-font-size: $font-size;
$page-item-height: $line-height;
$page-animate-time: 0.3s;
$page-item-width: 40px;
$page-margin-right: $margin-right;
$page-padding-right: 10px;
$page-font-color: $color-gray;
$page-background-color: $color-gray + #666666;
$page-active-color: $color-blue;

// tabs
$tabs-font-size: $font-size;
$tabs-animate-time: 0.3s;
$tabs-item-height: $line-height + 10px;
$tabs-width: 100px;
$tabs-default-color: $color-gray;
$tabs-active-color: $color-blue;
$tabs-success-color: $color-green;
$tabs-warning-color: $color-yellow;
$tabs-error-color: $color-red;

// dialog
$dialog-cover-background: #000;
$dialog-width: 500px;
$dialog-animate-time: 0.3s;
$dialog-header-padding: 5px;
$dialog-font-size: $font-size;
$dialog-line-height: $line-height;
$dialog-default-color: $color-gray;
$dialog-active-color: $color-blue;
$dialog-success-color: $color-green;
$dialog-warning-color: $color-yellow;
$dialog-error-color: $color-red;

// message
$message-width: 250px;
$message-animate-time: $common-animate-time;
$message-font-size: $font-size;
$message-line-height: $line-height - 14px;
$message-active-color: $color-blue;
$message-success-color: $color-green;
$message-warning-color: $color-yellow;
$message-error-color: $color-red;

// model
$model-width: 500px;
$model-animate-time: $common-animate-time;
$model-font-size: $font-size;
$model-line-height: $line-height - 14px;
$model-active-color: $color-blue;
$model-success-color: $color-green;
$model-warning-color: $color-yellow;
$model-error-color: $color-red;

// steps
$steps-font-size: $font-size;
$steps-line-height: $line-height;
$steps-default-color: $color-gray;
$steps-active-color: $color-blue;
$steps-success-color: $color-green;
$steps-warning-color: $color-yellow;
$steps-error-color: $color-red;

