
@import "./xin-iconfont/iconfont.css";

@font-face {
  font-family: 'xin-iconfont';  /* project id 1855680 */
  src: url('//at.alicdn.com/t/font_1855680_jq7ua7x5dlq.eot');
  src: url('//at.alicdn.com/t/font_1855680_jq7ua7x5dlq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1855680_jq7ua7x5dlq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1855680_jq7ua7x5dlq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1855680_jq7ua7x5dlq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1855680_jq7ua7x5dlq.svg#xin-iconfont') format('svg');
}

.xin-iconfont {
  font-family: "xin-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
